:root {
    --backdrop: #462445;
    --letters: #fceae6;
    --darkBerry: #673653;

    --baloo2: 'Baloo 2', sans-serif;
    --righteous: 'Righteous', cursive;
}

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, var(--backdrop), var(--darkBerry));
    height: 100vh;
    width: 100vw;
    color: var(--letters);
    font-family: var(--baloo2);
}